@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap');
body{
    font-family: 'Inter', sans-serif;
    font-weight:500;
    text-align: center;
    margin:0;
    padding:0;
    display:block;
    background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
background-attachment: fixed;
}
h1{
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.04em;
    font-weight:900;
}
h2{
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.04em;
    margin-top:-20px;
}
h6{
    font-size:12px;
    
}
input{
    background:rgba(255,255,255,0.2);
    border-style:solid;
    border-width:1px;
    border-color:black;
    border-radius:2px;
}
button{
    font-family: 'Inter', sans-serif;
    font-weight:500;
    background:rgba(255,255,255,0.2);
    border-style:solid;
    border-width:1px;
    border-color:black;
    border-radius:2px;
    color:black;
}