@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap');
body{
    font-family: 'Inter', sans-serif;
    font-weight:500;
    text-align: center;
    margin:0;
    padding:0;
    display:block;
}
h1{
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.04em;
    font-weight:900;
}
h2{
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.04em;
    margin-top:-20px;
}
h6{
    font-size:12px;
    
}

